@page "/informations/mentions-legales"

<PageTitle>&Agrave; propos - Galerie Rénovation</PageTitle>
<div class="container">
    <div class="row my-3">
        <div class="col text-light">
            <MarkdownReader File="about/legal-fr" />
        </div>
    </div>
</div>