@page "/informations/notre-histoire"

<PageTitle>Notre histoire - Galerie Rénovation</PageTitle>
<div class="container">
    <div class="row my-3">
        <div class="col text-light">
            <MarkdownReader File="about-story-fr" />
        </div>
    </div>
</div>