@page "/informations/partenaires"

<PageTitle>Partenaires - Galerie Rénovation</PageTitle>
<div class="container">
    <div class="row my-3">
        <div class="col text-light">
            <MarkdownReader File="about-partners-fr" />
        </div>
    </div>
</div>