@page "/informations/se-faire-sponsoriser"

<PageTitle>Se faire sponsoriser - Galerie Rénovation</PageTitle>
<div class="container">
    <div class="row my-3">
        <div class="col text-light">
            <MarkdownReader File="about-sponsoring-fr" />
        </div>
    </div>
</div>