// Custom.scss
// Option A: Include all of Bootstrap

// Include any default variable overrides here (though functions won't be available)
$dark: #0F0704;
$light: #7D6551;
$primary: $dark;
$secondary: $light;
$gold: #FFD700;

@font-face {
    font-family: Convection;
    src: url("../fonts/Conv.ttf") format('truetype'), url("../fonts/Conv.woff") format('woff');
}

html, body, #app {
    min-height: 100vh;
    font-family: Convection;
    background-color: $dark;
}

#blazor-error-ui {
    z-index: 1100;
}

.uppercase-spacing-opacity {
    text-transform: uppercase !important;
    letter-spacing: 0.2em !important;
    opacity: .9 !important;
    transition: all ease-in-out .5s !important;

    &:hover, &:focus, &.active {
        opacity: 1 !important;
        transition: all ease-in-out .5s !important;
    }
}

.nav-link {
    @extend .uppercase-spacing-opacity;

    &-contact {
        @extend .btn;
        @extend .btn-outline-warning;
        @extend .nav-link;
        color: $gold !important;

        &:hover, &:focus {
            color: $primary !important;
        }
    }
}

.btn {
    @extend .uppercase-spacing-opacity;
}

.min-vh-75 {
    min-height: 75vh;
}

@import "../lib/bootstrap/scss/bootstrap";

#image-brand {
    height: 60px !important;
    transition: height ease .75s;

    &.expanded {
        height: 90px !important;
        transition: height ease .75s;
    }
}

#main {
    @extend .min-vh-75;
    margin-top: 155px !important;
    transition: margin ease .75s;

    &.expanded {
        margin-top: 185px !important;
        transition: margin ease .75s;
    }
}

section {
    #offers {
        background-image: url('../images/img5.jpeg');
        background-size: cover;
    }
}

@each $bp-name, $bp-value in $grid-breakpoints {
    @include media-breakpoint-down($bp-name) {
        .clearfix-#{$bp-name} {
            @include clearfix;
        }
    }
}

@for $index from 1 through 10 {
    @each $name, $value in $theme-colors {
        .bg-#{$name}-transparent-#{$index}0 {
            background-color: transparentize($value, calc($index / 10)) !important;
        }
    }

    .transparency-#{$index}0 {
        opacity: calc($index/10) !important;
        transition: opacity ease 1s !important;

        &.disable-on-hover {
            &:hover, &:focus {
                opacity: 1 !important;
                transition: opacity ease 1s !important;
            }
        }
    }

    .scale-out-#{$index}0 {
        transform: scale(1, 1);
        transition: transform ease 1s;

        &.disable-on-hover {
            &:hover, &:focus {
                transform: scale(calc(1 + calc($index/100)), calc(1 + (calc($index/100))));
                transition: transform ease 1s;
            }
        }
    }
}
