@page "/"
@inject HttpClient Http
<PageTitle>Index</PageTitle>

<h1>Hello, world!</h1>

Je te laisse regarder mon code pour tu puisse valider ou non que je passe à la suite

pour les balises active j'ai fait de cette manière  :pour les slides je passe la première en en active puis les autres en normal

pour les carousel inner j'ai ajouté aux item un booléen qui défini ou non si c'est active et enfin j'ai ajouté le script bootstrap pour que le jquery puisse faire fonctionner le caroussel ( dans le index.html)

<!-- Caroussel -->
<div id="@carousel.UniqueId" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-indicators">
        <!-- foreach carousel.Items  voir pourquoi ça ne fonctionne pas -->
        @for (var i = 0; i < carousel.Items.Count(); i++)
        { <!-- mettre le premier data slide active-->
            if(i == 0)
            {<button type="button" data-bs-target="#@carousel.UniqueId" data-bs-slide-to="@i" class="active" aria-current="true" aria-label="Slide 1"></button>
            }
            else
            {
              <button type="button" data-bs-target="#@carousel.UniqueId" data-bs-slide-to="@i" aria-label="test"></button>  
            }
        }
        
        
    </div>
    <div class="carousel-inner" style="max-height: 850px;min-height: 276px">
        <!--max-height: 850px;min-height: 276px-->
     
        @foreach (var item in carousel.Items)
        {<!-- ajout booléen dans la class pour metrre une slide en active ici la première pour test-->
            if(item.Active){
            <div class="carousel-item active">
                <img src="Images/@item.ImageUrl" class="d-block  w-100" alt="">
                </div>
            }
            else
            {
             <div class="carousel-item">
                <img src="Images/@item.ImageUrl" class="d-block  w-100" alt="">
                </div>   
            }

        }
        
       
            
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#@carousel.UniqueId" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#@carousel.UniqueId" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
    </button>
</div>

 
@code {
    private Carousel? carousel;
    
    protected override async Task OnInitializedAsync()
    {
        
        carousel = await Http.GetFromJsonAsync<Carousel>("data/home-carousel.json");
        // todo: modifier le DOM avec JSInterop
    }
  }
<SurveyPrompt Title="How is Blazor working for you?" />
