<div id="loading" class="position-absolute top-50 start-50 translate-middle">
    <div class="text-center text-light m-2">
        <div class="spinner-border" role="status">
            <span class="visually-hidden">...</span>
        </div>
        <div class="lead">Chargement en cours...</div>
    </div>
</div>