@inherits LayoutComponentBase

<header>
    <NavMenu />
</header>
<main id="main" class="min-vh-75 expanded">
    @Body
</main>
<footer class="bg-secondary text-primary">
    <Footer />
</footer>
<Contact />
<Calculator />