<nav class="navbar navbar-expand navbar-dark bg-primary fixed-top shadow">
    <div class="container">
        <div class="row w-100">
            <div class="col">
                <NavLink class="navbar-brand" href="/">
                    <div class="img-container text-center">
                        <img alt="Logo Galerie Rénovation" class="expanded" id="image-brand" src="images/logo-galerie-renovation.svg" />
                    </div>
                </NavLink>
            </div>
            <div class="w-100 clearfix-sm"></div>
            <div class="col">
                <div class="justify-content-center" id="galerie-renovation-navbar">
                    <ul class="navbar-nav mb-2 justify-content-center">
                        <li class="nav-item">
                            <NavLink class="nav-link" href="services">
                                <span class="d-none d-sm-block">Services</span>
                                <span class="d-block d-sm-none">
                                    <i class="fas fa-hand-pointer fa-lg"></i>
                                </span>
                            </NavLink>
                        </li>
                        <li class="nav-item">
                            <NavLink class="nav-link" href="products">
                                <span class="d-none d-sm-block">Produits</span>
                                <span class="d-block d-sm-none">
                                    <i class="fas fa-grip-horizontal fa-lg"></i>
                                </span>
                            </NavLink>
                        </li>
                        <li class="nav-item">
                            <NavLink class="nav-link" href="achievements">
                                <span class="d-none d-sm-block">Réalisations</span>
                                <span class="d-block d-sm-none">
                                    <i class="fas fa-star fa-lg"></i>
                                </span>
                            </NavLink>
                        </li>
                        <li class="nav-item">
                            <NavLink class="nav-link" data-bs-toggle="modal" data-bs-target="#calculator-modal">
                                <i class="fas fa-calculator fa-lg"></i>
                            </NavLink>
                        </li>
                        <li class="nav-item">
                            <NavLink class="nav-link nav-link-contact rounded" data-bs-toggle="modal" data-bs-target="#contact-modal">
                                <i class="far fa-envelope fa-lg"></i>
                            </NavLink>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</nav>