<nav class="navbar navbar-expand-lg navbar-dark bg-primary fixed-top shadow-lg">
    <div class="container">
        <div class="row w-100">
            <div id="header-brand" class="mx-auto col-3">
                <a class="navbar-brand mx-auto" href="#">
                    <div class="img-container text-center">
                        <img alt="Logo Galerie Rénovation" src="images/logo-galerie-renovation.svg" />
                    </div>
                </a>
            </div>
            <div class="w-100 d-none d-sm-block"></div>
            <div class="col">
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#galerie-renovation-navbar" aria-controls="galerie-renovation-navbar" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>

                <div class="collapse navbar-collapse justify-content-center" id="galerie-renovation-navbar">
                    <ul class="navbar-nav mb-2 mb-lg-0 ">
                        <li class="nav-item">
                            <NavLink class="nav-link" href="#offers">Offres</NavLink>
                        </li>

                        <li class="nav-item">
                            <NavLink class="nav-link" href="#realizations">Réalisations</NavLink>
                        </li>
                        <li class="nav-item">
                            <NavLink class="nav-link" href="#products">Produits</NavLink>
                        </li>
                        <li class="nav-item">
                            <NavLink class="nav-link" href="#services">Services</NavLink>
                        </li>
                        <li class="nav-item">
                            <NavLink class="nav-link" href="#calculator">🧮</NavLink>
                        </li>
                        <li class="nav-item">
                            <NavLink class="nav-link nav-link-contact rounded" href="#contact">Contact</NavLink>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</nav>