<PageTitle>En construction - Galerie Rénovation</PageTitle>
<div class="container">
    <div class="row my-3 text-center">
        <div class="col">
            <div class="display-3">
                En rénovation
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-12 col-md-6">
            <p class="lead">
                Nous travaillons à vous offrir la meilleure expérience utilisateur possible. 
            </p>
            <p class="lead">
                Pour cela, nous travaillons actuellement sur notre site Internet , 
                notamment dans la page que vous essayez de visualiser.
            </p>
            <p class="lead">
                Nous sommes navrés pour le désagrément encouru et nous vous prions de bien vouloir nous en excuser.
            </p>
            <p class="lead">
                En attendant la fin des travaux, nous vous proposons de contacter l'un de nos commerciaux ; 
                soit par téléphone, soit à travers le formulaire de contact, 
                tous deux disponibles dans l'onglet 
                <NavLink data-bs-toggle="modal" data-bs-target="#contact-modal" class="navlink text-light">contact</NavLink>.
            </p>
        </div>
        <div class="col-12 col-md-6">
            <img class="img-fluid" src="images/under-construction.jpg" alt="Galerie Rénovation - site en construction - situation représentée par une salle de bain en rénovation"/>
        </div>
    </div>
</div>